* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* height: 100vh; */
  background-color: rgb(37, 37, 37);
  font-family: 'Hedvig Letters Sans', sans-serif;
}

header {
  width: 100%;
  height: 100vh;
  background-color: aqua;
  background-image: url(../images/ball-header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0 0 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  color: antiquewhite;

}

nav {
  width: 100%;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(204, 204, 204);
}

.name-site {
  display: flex;
  gap: 5px;
}
.name-site i{
  color: rgb(168, 62, 0);

}
ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

li {
  cursor: pointer;
  font-size: 17px;
  font-weight: 100;
}

li:hover {
  color: rgb(250, 250, 250);
}

h3 {
  font-size: 30px;
  color: rgb(168, 62, 0);
  cursor: pointer;
  font-weight: 800;
}

h3:hover {
  color: rgb(200, 73, 0);
  /* color: rgb(250, 250, 250); */
}

i {
  cursor: pointer;
  font-size: 22px;
}

i:hover {
  color: rgb(250, 250, 250);
}

.description {
  position: relative;
  bottom: 100px;
  left: 5%;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.description h1 {
  font-size: 55px;
  font-weight: 900;
}

.span-desc {
  color: rgb(168, 62, 0);

}

.description p {
  font-size: 20px;
}

button {
  width: 150px;
  padding: 10px 10px;
  outline: none;
  border: none;
  border-radius: 12px 0 12px 0;
  background-color: rgb(168, 62, 0);
  margin: 0 auto;
  color: aliceblue;
  font-family: 'Hedvig Letters Sans', sans-serif;
  font-weight: 600;
  cursor: pointer;

}

button:hover {
  background-color: rgb(200, 73, 0);
  border-radius: 0px 10px 0px 10px;
  transform: scale(1.1);
  transition: 0.2s;
}

main{
  width: 100%;
  height: auto;
  /* background-color: aqua; */
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}
.section-product{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 85%;
  margin: 10px auto;
  
}
.product{
  width: 300px;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(33, 33, 33);
  border-radius: 12px;
  color: aliceblue;
  gap: 20px;
  margin-bottom: 80px;
}
.image-product{
  width: 270px;
  backdrop-filter: blur(2px);
  
}
img{
  width: 250px;
}
.header--count-products{
  width: 70%;
  display: flex;
  justify-content: space-between;
  color: antiquewhite;
  margin-bottom: 50px;
}
.more-products{
  display: flex;
  align-items: center;
  justify-content:  center;
  font-size: 15px;
  font-weight: 500;
  color: aliceblue;
  background-color: rgba(168, 62, 0, 0.252);
  padding: 10px 15px;
  border-radius: 8px;
  border: 0.5px solid rgba(200, 73, 0, 0.652);
  transition-delay: 0.1s;
  transition-duration: 0.2s;
}
.more-products:hover{
  background-color: rgba(168, 62, 0, 0.41);
  border:0.5px solid rgba(200, 73, 0, 0.278) ;
  color: aliceblue;
}
.desc-product{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.other--products{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  width: 70%;
  margin: 10px auto;
  
}
.img--other{
  cursor: pointer;
  background: linear-gradient(270deg,rgba(0,0,0,0.65) 33.85% ,rgba(0,0,0,0.65) 100%) , url(../images/bascketball.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 450px;
  height: 250px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 10px 30px;
}
.img--other1{
  cursor: pointer;
  background: linear-gradient(270deg,rgba(0,0,0,0.65) 33.85% ,rgba(0,0,0,0.65) 100%) , url(../images/vallyball.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 450px;
  height: 250px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 10px 30px;
}
.img--other2{
  cursor: pointer;
  background: linear-gradient(270deg,rgba(0,0,0,0.65) 33.85% ,rgba(0,0,0,0.65) 100%) , url(../images/handball.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 450px;
  height: 250px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 10px 30px;
}
.img--other3{
  cursor: pointer;
  background: linear-gradient(270deg,rgba(0,0,0,0.65) 33.85% ,rgba(0,0,0,0.65) 100%) , url(../images/footbal.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 450px;
  height: 250px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 10px 30px;
}
.img--other{
  
  background: linear-gradient(270deg,rgba(0,0,0,0.65) 33.85% ,rgba(0,0,0,0.65) 100%) , url(../images/bascketball.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 450px;
  height: 250px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 10px 30px;
}
.other--products h4{
  color: aliceblue;
  font-size: 25px;
}
footer{
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 30px;
  margin-top: 80px;
  background-color: rgb(28, 28, 28);
}
.count-access{
  width: 40%;
  color: aliceblue;
}
.count-desc--footer{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: aliceblue;
}
.ul-access{
  margin: 70px 0;
  display: flex;
  flex-wrap: wrap;
  /* background-color: aqua; */
}
.ul-access li:hover{
  transition-duration: 0.2s;
  color: tomato;
}
.gg-phone:hover{
  transition-duration: 0.2s;
  color: tomato;
}
.count-desc--footer span{
  font-weight: 500;
  display: flex; 
  align-items: center;
  /* justify-content: center; */
  gap: 10px;
}